$aside_bg: rgb(175, 107, 107);
$aside_text: #e5eaf3;
$header_bg: #fea500;
$header_text: #e5eaf3;
$main_bg: rgb(207, 204, 171);
$main_primary: #f56c6c;
$main_bg_shadow: rgba(0, 0, 0, 0.1);
$main_text: black;
$footer_bg: #1d1e1f;
$footer_text: #a3a6ad;

$primary_text: #e5eaf3;
$regular_text: #cfd3dc;
$secondary_text: #a3a6ad;
$placeholder_text: #8d9095;
$disabled_text: #6c6e72;
$darker_border: #636466;
$dark_border: #58585b;
$base_border: #4c4d4f;
$light_border: #414243;
$lighter_border: #363637;
$extra_light_border: #2b2b2c;
$darker_fill: #424243;
$dark_fill: #39393a;
$base_fill: #303030;
$light_fill: #262727;
$lighter_fill: #1d1d1d;
$extra_light_fill: #191919;
$blank_fill: transparent;
$basic_black: #000000;
$basic_white: #ffffff;
$transparent: transparent;
$page_background: #0a0a0a;
$base_background: #141414;
$overlay_background: #1d1e1f;

$primary_color: #66b1ff;
$success_color: #85ce61;
$warning_color: #ebb563;
$danger_color: #f78989;
$info_color: #a6a9ad;
